#addFundsBlackboard,
#withdrawBlackboard,
#notificationBlackboard {
  display: none;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(var(--screenHeight)*5/100);
  width: 100%;
  height: 100%;
  z-index: 3;
}